@model CoffeeTest.Data.DTO.AllOrdersDto
@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>
<h4>
    <a href="@Url.Action("DrinkDistribution", "Orders")">
        <i class="fa fa-bar-chart"></i>
        <label>Show graph</label>
    </a>
</h4>

<table>
    <tr>
        <th class="col-md-3">
            Drink Name
        </th>
        <th class="col-md-3">
            Office Name
        </th>
        <th class="col-md-3">
            Pantry Name
        </th>
        <th class="col-md-3">
            Order Date
        </th>
    </tr>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td class="col-md-3">
                @order.Drink.DrinkName
            </td>
            <td class="col-md-3">
                @order.Office.OfficeName
            </td>
            <td class="col-md-3">
                @order.Pantry.PantryName
            </td>
            <td class="col-md-3">
                @order.OrderDate
            </td>
        </tr>
    }
</table>